.card{
    background-color: yellow;
}

.post{
    padding: 0 0 3% 0;
}

.post a{
    color: white;
    background-color: black;
    text-decoration: none;
}

.post img{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 80vh;
}

.headline{
    font-size: 20px;
}

.more{
    display: none;
}

.moreButton{ 
    text-align: center;
    font-size: 40px;
}

.moreButton:hover{
    cursor: pointer;
}