html, body {
  padding: 0px;
  margin: 0px;
}
.container {
  width: 95vw;
  min-height: 75vh;
  margin: 5vh auto;
  display: flex;
  position: relative;
}
.card {
  border-radius: 10px;
  box-shadow: 3px 3px 10px 10px #777777;
  margin: 0px auto;
  width: 95%;
  z-index: 100;
  position: relative;
  overflow: hidden; 
}
.prev {
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 10px #777777;
  height: 80%;
  min-width: 20vw;
  max-height: 700px;
  position: absolute;
  top: 10%;
  left: 0px;
  z-index: 20;
  padding: 10px;
}
.next {
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 10px #777777;
  height: 80%;
  min-width: 20vw;
  max-height: 700px;
  position: absolute;
  top: 10%;
  right: 0px;
  z-index: 20;
  padding: 10px;
}
.left {
  width: 34%;
  float:left;
  position: relative;
}
.right {
  float: left;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.logo {
  width: 30vw;
  position: absolute;
  left: 2vw;
  z-index: 120;
}
.collective {
  font-size: 30px;
}
.slogan {
  font-size: 25px;
}

/* Mobile Styles */
@media only screen and (max-width: 1000px) {
  .card{
    width: 80%;
  }
  .prev{
    left: 10px;
  }
  .next{
    right: 10px;
  }
  .right {
    width: 90%;
    padding: 5%;
  }
  .left {
    width: 90%;
  }
  .logo{
    display: none;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1001px) {
  .left {
    height: 87vh;
  }
  .right {
    width: 62%;
    padding: 2%;
  }
}